body {
    margin: 0;
    padding: 0;
    background-color: hsl(236, 33%, 92%);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: all 0.5s ease-in-out;
}

.header {
    color: white;
    background-image: url("./images/bg-mobile-light.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 35vh;
    
}

p {
    color: hsl(235, 19%, 35%);
}

.title-container {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;
}

.logo {
    letter-spacing: 1rem;
}


.circle, .check {
    height: 1.5rem;
    width: 1.5rem;
    border: 1px solid hsl(233, 11%, 84%);
    border-radius: 50%;
}

.clicked {
    background-image: url("./images/icon-check.svg"), linear-gradient( hsl(192, 100%, 67%), hsl(280, 87%, 65%)) ;
    background-repeat: no-repeat;
    background-position: center;
}

.insert-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    background-color: white;
    padding: .5rem .5rem .5rem 1rem;
    box-sizing: border-box;
    border-radius: .5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


#insert-box {
    width: 90%;
    padding: .75rem;
    box-sizing: border-box;
    border: none;
}

.main-body {
    position: absolute;
    left: 0;
    right: 0;
    top: 16.5%;
}

.item {
    padding: 0 1rem 0 1rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid hsl(233, 11%, 84%);
}

.item p {
    margin-left: 1rem;
}

.item-container {
    background-color: white;
    width: 90%;
    margin: auto;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.397);
    border-radius: .5rem;
}

.item-content {
    display: flex;
    align-items: center;
}

.close {
    background-color: transparent;
    background-image: url("./images/icon-cross.svg");
    background-repeat: no-repeat;
    background-position: center;
    height: 2rem;
    width: 2rem;
    border: none;
}

hr {
    margin-top: 0;
}

.stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    color: hsl(236, 9%, 61%);
}

.tabs {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    border-radius: .5rem;
    width: 90%;
    margin-top: 10rem;
    margin: auto;
    left: 0;
    right: 0;
    margin-top: 2rem;
}

.my-tabs {
    padding: 1rem;
    background-color: transparent;
    border: none;
    color: hsl(235, 19%, 35%);
    font-weight: bold;
    font-size: 18px;
}

.clear {
    background-color: transparent;
    border: none;
    color: hsl(236, 9%, 61%);
    font-size: .85rem;
}

#to-light {
    display: none;
}

@media (min-width:650px) {
    .item-container {
        width: 70%;
    }

    .tabs {
        width: 70%;
    }

    .insert-section {
        width: 70%;
    }

    .title-container {
        width: 70%;
    }

    .main-body {
        position: absolute;
        left: 0;
        right: 0;
        top: 20%;
    }
}

@media (min-width:950px) {
    .item-container {
        width: 50%;
    }

    .tabs {
        width: 50%;
    }

    .insert-section {
        width: 50%;
    }

    .title-container {
        width: 50%;
    }

    .main-body {
        position: absolute;
        left: 0;
        right: 0;
        top: 14%;
    }

    .header {
        color: white;
        background-image: url("./images/bg-desktop-light.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 35vh;
        
    }
}
